<h1> {{page}} VIEW WORKS!!!</h1>



<div>--- RESULTS ---</div>

	<table>
		<thead>
			<th>Name</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Date</th>
			<th>LBs</th>

		</thead>
		<tbody>

		</tbody>

	</table>
{{results}}

<div>--- RESULTS ---</div>



<!--<script type="text/javascript" src="script.js"</script>-->

