<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>GET/POST Checker</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</script>
</head>

<body>
	{{{body}}}
</body>
</html>
