<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SQL</title>
	<!--<script type="text/javascript" src="script.js"</script>i-->
</head>

<body>
	{{{body}}}
	<script type='text/javascript' src='script.js'></script>
</body>
</html>
