<h1>THIS IS THE {{pageName}} PAGE</h1>

<div> Include this script file: text/javascript" src="https://www.gstatic.com/charts/loader.js </div>
<div> Load the desired chart packages you wish to use <div>
<span> ->  google.charts.load('current', {'packages':['corechart', 'table', 'sankey']});  </span>
<div> Create event listener, to draw the chart when page loads </div>
<span> ->google.charts.setOnLoadCallback(drawChart); </span>